body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

.navbar {
  background-color: black;
  padding: 1.375rem 0;
  box-shadow: 0px 1px 2px 0px #dfe3ec;
}

.navbar .router-link-exact-active {
  color: #041433;
  border-bottom: 3px solid #0066f9;
}

.profile-header {
  text-align: center;
  margin-bottom: 3rem;
}

.profile-header .lead {
  font-size: 1.25rem;
}

.profile-header .profile-picture {
  box-shadow: 0px 0px 3px 0px #b3bac7;
  margin-bottom: 1.5rem;
}

.navbar-nav .nav-link {
  color: #041433;
  padding: 0 0 0.5rem 0;
  box-sizing: border-box;
  margin: 0 40px 0 0;
  font-weight: 350;
}

.navbar-nav .nav-link:hover {
  color: #000104;
}

footer {
  background: #eff1f5;
  box-shadow: 0px -2px 2px 0px #dfe3ec;
  min-height: 130px;
  text-align: center;
  padding: 32px;
}

footer .logo {
  margin: 0 auto 20px auto;
}


@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.loading {
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.hero {
  max-width: 10.5rem;
}

.app-logo {
  max-width: 25rem;
}

td,
th {
  vertical-align: middle;
}